*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
gap:30px;
background:#dfeef9;
padding:20px;
overflow-x:hidden;
}

.background-circle{
position:absolute;
width:350px;
height:350px;
border-radius:50%;
background:linear-gradient(135deg,#009dff,#0057ff);
z-index:-1;
}

.calculator{
width:360px;
padding:25px;
border-radius:25px;
background:rgba(255,255,255,.25);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.3);
box-shadow:0 8px 32px rgba(0,0,0,.15);
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.header h2{
font-size:22px;
}

#themeToggle{
border:none;
padding:10px;
border-radius:10px;
cursor:pointer;
}

.display-container{
padding:10px;
margin-bottom:20px;
word-wrap:break-word;
overflow-wrap:break-word;
}

#expression{
min-height:30px;
text-align:right;
font-size:14px;
color:#666;
margin-bottom:5px;
}

#display{
min-height:60px;
font-size:2rem;
font-weight:bold;
text-align:right;
word-break:break-all;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;
}

button{
height:55px;
border:none;
cursor:pointer;
border-radius:15px;
font-size:18px;
font-weight:600;
background:rgba(255,255,255,.25);
transition:.2s;
}

button:hover{
transform:translateY(-3px);
}

.operator{
background:#008cff;
color:white;
}

.equals{
background:#008cff;
color:white;
}

.clear{
background:#ff5f57;
color:white;
}

.delete{
background:#607d8b;
color:white;
}

#copyBtn{
background:#1e88e5;
color:white;
}

.history-panel{
width:300px;
padding:20px;
border-radius:25px;
background:rgba(255,255,255,.25);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.3);
box-shadow:0 8px 32px rgba(0,0,0,.15);
}

.history-top{
display:flex;
justify-content:space-between;
margin-bottom:15px;
}

#historyList{
list-style:none;
max-height:400px;
overflow-y:auto;
}

#historyList li{
padding:10px;
margin-bottom:8px;
border-radius:10px;
background:rgba(255,255,255,.25);
word-break:break-all;
}

.dark{
background:#0f172a;
color:white;
}

.dark .calculator,
.dark .history-panel{
background:rgba(15,23,42,.75);
color:white;
}

.dark #expression{
color:#cbd5e1;
}

.dark button{
background:rgba(255,255,255,.08);
color:white;
}

.dark .operator,
.dark .equals{
background:#008cff;
}

.dark .clear{
background:#ff5f57;
}

.dark .delete{
background:#64748b;
}

@media(max-width:900px){

body{
flex-direction:column;
}

.history-panel{
width:360px;
}

}
.history-card{
padding:12px;
border-radius:12px;
background:rgba(255,255,255,0.15);
}

.history-title{
font-weight:600;
font-size:14px;
margin-bottom:5px;
}

.history-time{
font-size:12px;
opacity:0.7;
margin-bottom:8px;
}

.history-expression{
font-size:15px;
margin-bottom:4px;
word-break:break-all;
}

.history-result{
font-weight:bold;
color:#008cff;
word-break:break-all;
}